@import "~@fontsource/montserrat/index.css";

$main-font-family: "Montserrat", sans-serif; 

//Palette

$bostonBlue: #399bc0;
$bizarre-color: #eee3d6;
$capeCod-color: #3b3d3f;
$downy-color: #6dc2d0;
$easternBlue-color: #27aabe;
$ironstone-color: #8a453f;
$malibu-color: #74def4;
$nevada-color: #62676c;
$osloGray-color: #969799;
$royalBlue-color: #6a5fe1;
$sanMarino-color: #4562b0;
$shark-color: #1a1b1b;
$silverChalice-color: #aeaeae;
$totemPole-color: #951a0c;
$ultramarine-color: #0c1f86;
$wedgewood-color: #516faa;
